body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.parallax-1 {
  background-image: url("https://images.unsplash.com/photo-1592194996308-7b43878e84a6?ixlib=rb-4.0.3&auto=format&fit=crop&w=1400&q=80"); /* รูปแมวภาพแรก */
}

.parallax-2 {
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.2_T_rdnUnxqlbQoXSllzVgHaEo?r=0&rs=1&pid=ImgDetMain&o=7&rm=3"); /* รูปแมวภาพสอง */
}


.block {
  background: black;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
